body{
  background: #fefefe;
  margin: 0;
  padding: 0;
  font:1em/1.3em Arial, Tahoma, "Trebuchet MS", sans-serif;
  color: #272727;
}
img{
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: none;
}
.main{
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  border-radius: 3px;
}
.bl{
  padding: 5px 10px;
  border:1px solid #ddd;
  background: #fefefe;
  border-radius: 3px;
  margin: 20px;
}

//////////////////////

// //пример 1
//.main {
//  display: flex;
//  //свойства которые не работают с flex
//  //columns:;
//  //float: ;
//  //clear: ;
//  //vertical-align: ;
//  //Особенность margin складывается у блоков-элементов flex
//  height: 500px;
//
//}
//.bl {
//  height: 20px;
//  margin: auto; /*центрирует по горизонтали и вертикали */
//}

//пример 2

//.main {
//  display: flex;
//  height: 500px;
//  //направление оси
//  flex-direction: row;
//  //flex-direction: column;
//  //flex-direction: column-reverse;
//  //flex-direction: row-reverse;
//  //как будут распологаться блоки на главной оси
//  //justify-content: flex-start;
//  //justify-content: flex-end;
//  //justify-content: space-between;
//  //justify-content: space-around;
//  justify-content: center;
//  //выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
//  //align-items: stretch;
//  align-items: flex-start;
//  //align-items: flex-end;
//  //align-items: baseline;
//}
//.bl {
//
//}
//
//
//.fl1 {
//  line-height: 8px;
//}
//.fl2 {
//  line-height: 16px;
//}
//.fl3 {
//  line-height: 24px;
//}
//.fl4 {
//  line-height: 12px;
//}
//.fl5 {
//  line-height: 10px;
//}
//.fl6 {
//  line-height: 20px;
//}

////пример 3
//.main {
//  display: flex;
//  height: 200px;
//  max-width: 1000px;
//  flex-direction: row;
//  justify-content: center;
//  //align-items: flex-start;
//  align-items: stretch;
//  //переносы блоков в новый рядов
//  //flex-wrap: wrap;
//  flex-wrap: wrap;
//  //align-content: center;
//  //align-content: space-around;
//  //align-content: space-between;
//  //align-content: flex-start;
//  //align-content: flex-end;
//  align-content: stretch;
//  //flex-direction, flex-wrap
//  flex-flow:column wrap;
//  //flex-flow:row wrap;
//}
//.bl {
//  //width: 250px;
//  height: 100px;
//}
//
//
//.fl1 {
//
//}
//.fl2 {
//
//}
//.fl3 {
//
//}
//.fl4 {
//
//}
//.fl5 {
//
//}
//.fl6 {
//
//}

////пример 4
//.main {
//  display: flex;
//  //height: 500px;
//  max-width: 1000px;
//  margin: 20px auto;
//  justify-content: center;
//  align-items: stretch;
//  align-content: stretch;
//  flex-flow:row wrap;
//  padding: 0;
//}
//.bl {
//  //padding: 0;
//  //margin: 0;
//  //border: 0;
//  //определяет основу флекса, которая является начальным размером элемента
//  //flex-basis: auto;
//  //flex-basis: 500px;
//  //flex-grow определяет, какую часть свободного пространства может занять контейнер, в соотношении с другими контейнерами
//  //flex-grow: 1;
//  //Устанавливает коэффициент сжатия флексов в контейнере и задаёт, насколько элемент будет уменьшаться по отношению к другим флексам, чтобы разместить все элементы в одну строку.
//  //flex-shrink: 1;
//  flex: 1 1 200px;
//}
//
//
//.fl1 {
//  background: #2228ff;
//  //flex-grow: 3;
//  //flex-shrink: 3;
//}
//.fl2 {
//  background: #81ff2e;
//  //flex-grow: 2;
//  //flex-shrink: 2;
//}
//.fl3 {
//  background: #ffb672;
//}
//.fl4 {
//  background: #ff5fd8;
//}
//.fl5 {
//  background: #f0fff1;
//}
//.fl6 {
//  background: #ffff2c;
//}

//пример 5
.main {
  display: flex;
  max-width: 1000px;
  margin: 20px auto;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-flow:row wrap;

}
.bl {
  flex: 1 1 300px;
  text-align: center;
  display: flex;
  flex-flow:row wrap;
}


.fl1 {
  flex: 1 1 100%;
}
.fl2 {

}
.fl3 {

}
.fl4 {

}
.fl5 {

}
.fl6 {
  flex: 1 1 100%;
}

h3 {
  color: #406cd0;
  margin: 0 10px 0 0;
  font-size: 1.1em;
}
a{
  &.button {
    background: #406cd0;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 2px;
    text-decoration: none;
    transition: 0.3s;
  }
  &.button:hover {
    background: #c70000;
  }
}
.image{
  margin:10px;
  flex: 1 1 200px;
  img {width: 100%; height: auto;}
}
.text {
  margin: 10px;
  flex: 1 1 150px;
}