body {
  background: #fefefe;
  margin: 0;
  padding: 0;
  font: 1em/1.3em Arial, Tahoma, "Trebuchet MS", sans-serif;
  color: #272727; }

img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: none; }

.main {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.bl {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background: #fffde1;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin: 20px; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 20px auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0; }

.bl {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 200px;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px; }

.fl1 {
  background: #2228ff; }

.fl2 {
  background: #81ff2e; }

.fl3 {
  background: #ffb672; }

.fl4 {
  background: #ff5fd8; }

.fl5 {
  background: #f0fff1; }

.fl6 {
  background: #ffff2c; }
